{{#partial "navbar"}}
     <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item active"><a class="nav-link" href="/heroes/new">New Hero</a></li>
    <li class="nav-item"><a class="nav-link" href="/squads/new">New Squad</a></li>
    <li class="nav-item"><a class="nav-link" href="/heroes">Heroes & Squads</a></li>
    <li class="nav-item"><a class="nav-link" href="/faqs">Contact</a></li>
{{/partial}}

{{#partial "content"}}
    <h5 class="text-center">Success! <a href="/">navigate home</a></h5>
{{/partial}}

{{> layout.hbs}}